.git/*
.env

# vendor будет заполнен уже внутри контейнера
vendor
# node_modules для этого контейнера не нужны
node_modules

# Все -local файлы
*/config/*-local.php

# Все временные файлы
*/runtime

# Их по идее их не должно образовываться, но мало ли
*/web/assets
