.git/*
.env

# vendor будет заполнен уже внутри контейнера
vendor
# node_modules для этого контейнера не нужны
frontend/node_modules
frontend/webpack/node_modules
frontend/scripts/node_modules

# Все временные файлы
*/runtime

# Их по идее их не должно образовываться, но мало ли
*/web/assets
