# phpstorm project files
.idea

# Composer
/vendor

# Mac DS_Store Files
.DS_Store

# npm debug
npm-debug*

# Docker и его override файлы
/docker-compose.yml
/docker-compose.override.yml

# Локальный .env
/.env

# id_rsa
/id_rsa

# PHP-CS-Fixer
.php_cs
.php_cs.cache
