# phpstorm project files
.idea

# Composer
/vendor
composer.phar

# Mac DS_Store Files
.DS_Store

# npm debug
npm-debug*

# Docker and related files
/docker-compose.yml
/docker-compose.override.yml
/.env

# id_rsa
/id_rsa

# PHP-CS-Fixer
.php_cs
.php_cs.cache

# Codeception
codeception.yml
*/codeception.yml

# Frontend
frontend
