# phpstorm project files
.idea

# Composer
composer.phar
/vendor

# Mac DS_Store Files
.DS_Store

# Docker and related files
/docker-compose.yml
/docker-compose.override.yml
/.env

# PHP-CS-Fixer
.php-cs-fixer.php
.php-cs-fixer.cache

# PHPStan
phpstan.neon

# Codeception
codeception.yml
*/codeception.yml

# Frontend
frontend
